/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Oct-2016, 18:18:57
    Author     : Mark
*/

h1
{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

h2
{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
nav
{
    
}
input[type=submit]
{
    background-color: darkslategray;
    border: black;
    color: white;
    padding: 4px 8px;
    text-decoration: underline;
    margin: 2px 2px;
    cursor: pointer;
}
body
{
    background-color: gainsboro;
    text-align: left;
    
}

article
{
    background-color: whitesmoke;
    margin: auto;
}